/*---------------------------------------*/
/* GENERIC                               */
/*---------------------------------------*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*---------------------------------------*/
/* ELEMENTS                              */
/*---------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top,var(--white-color),var(--main_light-color));
    padding: 1rem;
}

/*---------------------------------------*/
/* COMPONENTS                            */
/*---------------------------------------*/
.c-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.c-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

.c-welcome {
    font-size: 3rem;
    line-height: 3.5rem;
    color: black;
    font-family: "Manrope", sans-serif;
}

.c-description {
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--main-color);
    text-decoration: none;
}

.c-description:hover {
    color: var(--main_hover-color);
    text-decoration: underline;
}
