/*---------------------------------------*/
/* SETTINGS                              */
/*---------------------------------------*/


/*---------------------------------------*/
/* GENERIC                               */
/*---------------------------------------*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*---------------------------------------*/
/* ELEMENTS                              */
/*---------------------------------------*/


/*---------------------------------------*/
/* OBJECTS                               */
/*---------------------------------------*/


/*---------------------------------------*/
/* COMPONENTS                            */
/*---------------------------------------*/


/*---------------------------------------*/
/* UTILITIES                             */
/*---------------------------------------*/
