:root {
    --main_light-color: #80BFFF;
    --main-color: #4A90E2;
    --main_hover-color: #2F5A92;
    --background-color: #F8F8F8;
    --border-color: #D6E0E5;
    --divider-color: #D6E0E5;
    --white-color: #FFFFFF;
    --active-color: #43A047;
    --warning-color: #E53935;
    --text_sub-color: #7B7B7B;
    --text_main-color: #212121;
}